<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h2 class = "text-center">La liste des événements crées</h1>
<% @events.each_with_index do |event,index| %>
  <div class="card">
    <div class="card-body">	
      <p class="card-text"><%= "Title : " + event.title %></p>
      <p class="card-text"><%= "Description : " + event.description%></p>
       <%= link_to "Voir détails", event_path(event[:id]), class: "card-link btn btn-primary" %>
    </div>
  </div>
  <br>
<% end %>
</body>
</html>


