<script src="https://kit.fontawesome.com/ed8146c91a.js" crossorigin="anonymous"></script>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h6 class="text-uppercase">Eventbrite</h6>
        <p>Here you can use rows and columns to organize your footer content.Here you can use rows and columns to organize your footer content.Here you can use rows and columns</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h6 class="text-uppercase">Useful Links</h6>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Team</a>
          </li>
          <li>
            <a href="#!">Contact us</a>
          </li>
          <li>
            <a href="#!">Future events</a>
          </li>
          <li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h6 class="text-uppercase">Follow us</h6>

        <ul>
          <li class="list-unstyled">
              <a href="#!"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="list-unstyled">
            <a href="#!"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="list-unstyled">
            <a href="#!"><i class="fab fa-facebook-square"></i></a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->